<aside class="sidebar">
    <nav>
        <a routerLink="/dashboard" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }"
            class="nav-item">
            <span>📊</span>
            <span>Dashboard</span>
        </a>
        <a routerLink="/projects" routerLinkActive="active" class="nav-item">
            <span>📁</span>
            <span>Projects</span>
        </a>
        <a routerLink="/resource-pool" routerLinkActive="active" class="nav-item">
            <span>👥</span>
            <span>Resource Pool</span>
        </a>
        @if (
        authService.userRole() === 'Admin' ||
        authService.userRole() === 'ResourceManager'
        ) {
        <a routerLink="/allocations/approvals" routerLinkActive="active" class="nav-item">
            <span>✓</span>
            <span>Approvals</span>
        </a>}
    </nav>
</aside>